[init]
     defaultBranch = main
[user]
    email = asif.shaik.56676@gmail.com
    name = "Asif Shaik"
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p